@import 'app/_mixin';

@tailwind base;
@tailwind components;
@tailwind utilities;

%body-shared {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html {
  @extend %body-shared;
}

body {
  @extend %body-shared;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
