.container {
  padding: 0 0;
  @apply flex flex-col items-center justify-center w-full;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @layer min-h-4/5;
  @apply w-full md:px-40;
}
